{% include '/ecommerce/index/header.html' %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>About Us</h3>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>about us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->
    
    <!--about section area -->
    <section class="about_section"> 
       <div class="container">
            <div class="row">
                <div class="col-12">
                   <figure>
                        <div class="about_thumb" align="center">
                            <img src="static/ecommerce/img/about/about.png" alt="">
                        </div>
                        <figcaption class="about_content">
                            <h1>We deliver organically grown products from farm to your table.</h1>
                        </figcaption>
                    </figure>
                </div>    
            </div>  
        </div> 
    </section>
   
    <!--testimonial area start-->
    <div class="faq-client-say-area">
        <div class="container">   
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="faq-client_title">
                        <h2>What is Bukid&bull;City?</h2>
                    </div>
                    <div class="faq-style-wrap" id="faq-five">
                        <!-- Panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a id="octagon" class="collapsed" role="button" data-toggle="collapse" data-target="#faq-collapse1" aria-expanded="true" aria-controls="faq-collapse1"> <span class="button-faq"></span>Fresh Farm Products</a>
                                </h5>
                            </div>
                            <div id="faq-collapse1" class="collapse show" aria-expanded="true" role="tabpanel" data-parent="#faq-five">
                                <div class="panel-body">
                                    <p>Sample text here</p>
                                   
                                </div>
                            </div>
                        </div>
                        <!--// Panel-default -->

                        <!-- Panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-target="#faq-collapse2" aria-expanded="false" aria-controls="faq-collapse2"> <span class="button-faq"></span>More Than 30 Years In The Business</a>
                                </h5>
                            </div>
                            <div id="faq-collapse2" class="collapse" aria-expanded="false" role="tabpanel" data-parent="#faq-five">
                                <div class="panel-body">
                                    <p>Sample text here</p>
                                </div>
                            </div>
                        </div>
                        <!--// Panel-default -->

                        <!-- Panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-target="#faq-collapse3" aria-expanded="false" aria-controls="faq-collapse3"> <span class="button-faq"></span>100% Organic Foods</a>
                                </h5>
                            </div>
                            <div id="faq-collapse3" class="collapse" role="tabpanel" data-parent="#faq-five">
                                <div class="panel-body">
                                    <p>Sample text here</p>
                                </div>
                            </div>
                        </div>
                        <!--// Panel-default -->

                        <!-- Panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-target="#faq-collapse4" aria-expanded="false" aria-controls="faq-collapse4"> <span class="button-faq"></span>Best Shopping Strategies</a>
                                </h5>
                            </div>
                            <div id="faq-collapse4" class="collapse" role="tabpanel" data-parent="#faq-five">
                                <div class="panel-body">
                                    <p>Sample text here</p>
                                </div>
                            </div>
                        </div>
                        <!--// Panel-default -->
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <!--testimonial area start-->
                    <div class="testimonial_area  testimonial_about">
                        <div class="section_title">
                           <h2>Meet the Team</h2>
                        </div>
                        <div class="testimonial_container">
                            <div class="testimonial_carousel testimonial-two owl-carousel">
                                <div class="single_testimonial">
                                    <div class="testimonial_thumb">
                                        <a href="#"><img src="static/../data/gahi.jpg" alt="" style="width: 200px; height: 150px; border-radius: 10px;"></a>
                                    </div>
                                    <br>
                                    <div class="testimonial_content">
                                        <a href="#">Randy G. Clores</a>
                                        <p>President</p>

                                    </div>
                                </div>
                                 <div class="single_testimonial">
                                    <div class="testimonial_thumb">
                                        <a href="#"><img src="static/ecommerce/img/about/" alt=""></a>
                                    </div>
                                    <div class="testimonial_content">
                                        <div class="testimonial_icon_img">
                                            <img src="static/ecommerce/img/about/testimonials-icon.png" alt="">
                                        </div>
                                        <p>I'm so happy ..</p>
                                        <a href="#">Randy G. Clores</a>
                                    </div>
                                </div>
                                 <div class="single_testimonial">
                                    <div class="testimonial_thumb">
                                        <a href="#"><img src="static/ecommerce/img/about/" alt=""></a>
                                    </div>
                                    <div class="testimonial_content">
                                        <div class="testimonial_icon_img">
                                            <img src="static/ecommerce/img/about/testimonials-icon.png" alt="">
                                        </div>
                                        <p>I'm so happy ..</p>
                                        <a href="#">Randy G. Clores</a>
                                    </div>
                                </div>
                                <div class="single_testimonial">
                                    <div class="testimonial_thumb">
                                        <a href="#"><img src="static/ecommerce/img/about/" alt=""></a>
                                    </div>
                                    <div class="testimonial_content">
                                        <div class="testimonial_icon_img">
                                            <img src="static/ecommerce/img/about/testimonials-icon.png" alt="">
                                        </div>
                                        <p>I'm so happy with all of ..</p>
                                        <a href="#">Anonymous</a>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                    <!--testimonial area end-->
                </div>
            </div>
        </div>    
    </div>
    <!--testimonial area end-->
        <!--services img area-->
    <div class="about_gallery_section"> 
        <div class="container">
           <div class="about_gallery_container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <article class="single_gallery_section">
                            <figure>
                                <div class="gallery_thumb">
                                    <img src="static/ecommerce/img/about/about2.jpg" alt="">
                                </div>
                                <figcaption class="about_gallery_content">
                                   <h3>What do we do?</h3>
                                    <p>We provide sustainable “Farm to Table” Market access of Quality and affordable Locally Grown fresh from the farm / Locally made products, for our consumers ( Farmers Club Members ) through Ecommerce Concept.</p>
                                    <p>To help more Individuals, Groups, Micro and Small Enterprises engaged in AGRICULTURE and FISHERIES nationwide to promote their own products and create solid community consumer, Through Ecommerce and Multi level Marketing Concept.</p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <article class="single_gallery_section">
                            <figure>
                                <div class="gallery_thumb">
                                    <img src="static/ecommerce/img/about/about3.jpg" alt="">
                                </div>
                                <figcaption class="about_gallery_content">
                                   <h3>Our Mission</h3>
                                    <p>To provide our consumers and Farmers Club Members an innovative and sustainable company where they can consistently enjoy our quality Locally Grown / Locally Made products.</p>

                                    <p>To help more people worldwide to have an access to Locally Grown Fresh from the Farm / Locally Made products and smart passive income and financial freedom by creating an excellent compensation plan at a very minimal start-up cost.</p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <article class="single_gallery_section">
                            <figure>
                                <div class="gallery_thumb">
                                    <img src="static/ecommerce/img/about/about1.jpg" alt="">
                                </div>
                                <figcaption class="about_gallery_content">
                                   <h3>Our Vission</h3>
                                    <p>To become the leading One Stop Community Ecommerce Super Market on your City. ( Farm to Table ) with a Locally Grown fresh from the farm / Locally Made products and Financial freedom provider.</p>
                                    <p>To create more entrepreneurs through Multi level Marketing with a continues training program and personal development seminars.</p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                </div> 
            </div>
        </div>      
    </div>
    <!--services img end-->    
{% include '/ecommerce/index/footer.html' %}