    <!--footer area start-->
    <footer class="footer_widgets">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-4 col-md-12 col-sm-7">
                        <div class="widgets_container contact_us" >
                           <div class="footer_logo" >
                               <a href="/"><img src="{{ url_for('static', filename='ecommerce/img/logo/logo.png') }}" alt=""></a>
                               <p class="footer_desc" style="font-size: 20px;" align="center">“<i>Your one Stop Community eCommerce Super Market on <br>your </i><i style="color: red;">City</i><i>.”</i></p>
                           </div>
                        </div>          
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-5">
                        
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-5" >
                        <div class="widgets_container widget_menu">
                            <h3>Products</h3>
                            <div class="footer_desc">
                            
                                <ul>
                                    <li><a> Vegetables</a></li>
                                    <li><a> Fruits</a></li>
                                    <li><a> Spices</a></li>
                                    <li><a> Fresh Meat</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-3 col-sm-5">
                        <div class="widgets_container widget_menu">
                            <h3>eCommerce</h3>
                            <div class="footer_desc">
                            
                                <ul>
                                    <li><a href="#"> About</a></li>
                                    <li><a href="#"> Contact</a></li>
                                    <li><a href="#"> Blog</a></li>
                                    <li><a href="#"> FAQs</a></li>
                                    <!--
                                    <li><a href="#"> Privacy Policy</a></li>
                                    <li><a href="#"> Terms & Conditions</a></li>
                                    -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-5">
                        <div class="widgets_container widget_menu">
                            <h3>Farmers Club</h3>
                            <div class="footer_desc">
                            
                                <ul>
                                    <li><a href="about.html"> Business</a></li>
                                    <li><a href="#"> News</a></li>
                                    <li><a href="#"> Bonus</a></li>
                                    <li><a href="#"> Tutorials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer_bottom" style="">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <div class="copyright_area">
                            <p>Copyright  © <script>document.write(new Date().getFullYear());</script>  <a href="#">Bukid City</a>  . All Rights Reserved.</p>
                            
                        </div>
                    </div>    
                    <div class="col-lg-6 col-md-5">    
                        <div class="footer_payment" >
                            <p style="color: white;"> Handcrafted with <i class="icon-heart " aria-hidden="true"></i> by <a href="https://www.facebook.com/cleveradeptitsolutions" target="_blank">Clever Innovations</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </footer>
    <!--footer area end-->
   
    
    <!--news letter popup start-->
        <!-- Check on other reference -->
    <!--news letter popup start-->
    

    
<!-- JS
============================================ -->

<!--jquery min js-->
<script src="{{ url_for('static', filename='ecommerce/js/own/counter.js') }}"></script>
<script src="{{ url_for('static', filename='ecommerce/js/vendor/jquery-3.4.1.min.js') }}"></script>
<!--popper min js-->
<script src="{{ url_for('static', filename='ecommerce/js/popper.js') }}"></script>
<!--bootstrap min js-->
<script src="{{ url_for('static', filename='ecommerce/js/bootstrap.min.js') }}"></script>
<!--owl carousel min js-->
<script src="{{ url_for('static', filename='ecommerce/js/owl.carousel.min.js') }}"></script>
<!--slick min js-->
<script src="{{ url_for('static', filename='ecommerce/js/slick.min.js') }}"></script>
<!--magnific popup min js-->
<script src="{{ url_for('static', filename='ecommerce/js/jquery.magnific-popup.min.js') }}"></script>
<!--counterup min js-->
<script src="{{ url_for('static', filename='ecommerce/js/jquery.counterup.min.js') }}"></script>
<!--jquery countdown min js-->
<script src="{{ url_for('static', filename='ecommerce/js/jquery.countdown.js') }}"></script>
<!--jquery ui min js-->
<script src="{{ url_for('static', filename='ecommerce/js/jquery.ui.js') }}"></script>
<!--jquery elevatezoom min js-->
<script src="{{ url_for('static', filename='ecommerce/js/jquery.elevatezoom.js') }}"></script>
<!--isotope packaged min js-->
<script src="{{ url_for('static', filename='ecommerce/js/isotope.pkgd.min.js') }}"></script>
<!--slinky menu js-->
<script src="{{ url_for('static', filename='ecommerce/js/slinky.menu.js') }}"></script>
<!-- Plugins JS -->
<script src="{{ url_for('static', filename='ecommerce/js/plugins.js') }}"></script>

<!-- Main JS -->
<script src="{{ url_for('static', filename='ecommerce/js/main.js') }}"></script>



</body>

</html>