<div class="offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="icon-menu"></i></a>
                    </div>
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="icon-x"></i></a>  
                        </div>
                        
                        <div class="language_currency">
                                     <ul>
                                    <li class="language"><a href="#"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Farmers Club&nbsp&nbsp&nbsp <i class="icon-right ion-ios-arrow-down"></i></a>
                                        <ul class="dropdown_language">
                                            <li><a href="#">Member</a></li>
                                            <li><a href="#">Distributor</a></li>
                                            <li><a href="/admin">Admin</a></li>
                                        </ul>
                                    </li>
                                </ul>
                        </div>
                        
                        <div class="header_social text-right">
                            <ul>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                   
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">

                                    <li><a class="active"  href="/" class="">home</a></li>
                                    <li class="mega_items"><a href="/places">shop<i class=""></i></a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/faq">FAQs</a></li>
                                    <li><a href="blog.html">Blog Page</a></li>
                                   
                           
                                <li class="menu-item-has-children">
                                    <a href="/myaccount">my account</a>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> info@bukidcity.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--offcanvas menu area end-->
