
    <!--banner fullwidth area start-->
    <div class="banner_fullwidth">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner_full_content">
                        <p style="color: white;">Shop and Generate Income!</p>
                        <h2>Get 10%+ off <span>all products!</span></h2>
                        <a href="#">discover now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner fullwidth area end-->