    <!--brand area start-->
    <div class="brand_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title">
                       <h2>Our Partners</h2>
                    </div>
                    <div class="brand_container owl-carousel ">
                        <div class="single_brand">
                            <img src="{{ url_for('static', filename='ecommerce/img/brand/DA.jpg') }}" alt="">
                        </div>
                        <div class="single_brand">
                            <img src="{{ url_for('static', filename='ecommerce/img/brand/coop.jpg') }}" alt="">
                            <br>
                            <h3 align="center" style="background-color:  rgba(34,139,34,0.5); text-align: center; color: white; width: 100%; font-size: 20px;">LOCAL FARMERS</h3>
                        </div>
                        <div class="single_brand">
                            <img src="{{ url_for('static', filename='ecommerce/img/brand/lgu.jpg') }}" alt="">
                        </div>
                        <div class="single_brand">
                            <img src="{{ url_for('static', filename='ecommerce/img/brand/foodpanda.jpg') }}" alt="">
                            <br>
                            
                        </div>
                        <div class="single_brand" style="padding-right: 10px;">
                            <img src="{{ url_for('static', filename='ecommerce/img/brand/dti.jpg') }}" alt="">
                            <h3 align="center" style="background-color:  rgba(105,105,105,0.5); text-align: center; color: white; width: 100%; font-size: 20px;">LOCAL FISHERMAN</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--brand area end-->
