    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                    	<center>
                        <h3>{{ branch_name }}, {{ city }}</h3>
                        <ul>
                            <li><a href="/" >home</a></li>
                            <li><a href="/places" >places</a></li>
                        </ul>
                    	</center>
                    </div>
                </div>
            </div>
        </div>         
    </div>
