<!--become a distributor-->
							<div class="banner_fullwidth">
						        <div class="container">
						            <div class="row">
						                <div class="col-12">
						                    <div class="banner_full_content">
						                        <h2>Become a Partner<span></span></h2>
						                        <a href="#" style="background-color:  rgba(0,0,0,0.5);">apply now</a>
						                    </div>
						                </div>
						            </div>
						        </div>
						    </div>
<!--become a distributor-->