<div class="product_tab_btn" id="places">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="{{ r1 }}" data-toggle="tab" href="#regioni" role="tab" aria-controls="regioni" aria-selected="false"> 
                                        Region I
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ r14 }}" data-toggle="tab" href="#car" role="tab" aria-controls="car" aria-selected="false">
                                       CAR 
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ r2 }}" data-toggle="tab" href="#regionii" role="tab" aria-controls="regionii" aria-selected="false">
                                       Region II
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ r3 }}" data-toggle="tab" href="#regioniii" role="tab" aria-controls="regioniii" aria-selected="false">
                                       Region III
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ r13 }}" data-toggle="tab" href="#ncr" role="tab" aria-controls="ncr" aria-selected="false">
                                       NCR
                                    </a>
                                </li>
                                  <li>
                                    <a class="{{ r4a }}" data-toggle="tab" href="#regioniva" role="tab" aria-controls="regioniva" aria-selected="false">
                                       Region IV-A
                                    </a>
                                </li>
                                  
                                  <li>
                                    <a  class="{{ r4b }}" data-toggle="tab" href="#mimaropa" role="tab" aria-controls="mimaropa" aria-selected="false">
                                       Mimaropa
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ r5 }}" data-toggle="tab" href="#regionv" role="tab" aria-controls="regionv" aria-selected="false">
                                       Region V
                                    </a>
                                </li>
                                  <li>
                                    <a class="{{ r6 }}" data-toggle="tab" href="#regionvi" role="tab" aria-controls="regionvi" aria-selected="false">
                                       Region VI
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ r7 }}" data-toggle="tab" href="#regionvii" role="tab" aria-controls="regionvii" aria-selected="false">
                                        Region VII
                                    </a>
                                </li>
                                <li>
                                    <a  class="{{ r8 }}" data-toggle="tab" href="#regionviii" role="tab" aria-controls="regionviii" aria-selected="false">
                                       Region VIII
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ r9 }}" data-toggle="tab" href="#regionix" role="tab" aria-controls="regionix" aria-selected="false">
                                        Region IX
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ r10 }}" data-toggle="tab" href="#regionx" role="tab" aria-controls="regionx" aria-selected="false">
                                        Region X
                                    </a>
                                </li>
                                 <li>
                                    <a class="{{ r11 }}" data-toggle="tab" href="#regionxi" role="tab" aria-controls="regionxi" aria-selected="false">
                                        Region XI
                                    </a>
                                </li>
                                 <li>
                                    <a class="{{ r12 }}" data-toggle="tab" href="#regionxii" role="tab" aria-controls="regionxii" aria-selected="false">
                                       Region XII
                                    </a>
                                </li>
                                
                                 <li>
                                    <a class="{{ 15 }}" data-toggle="tab" href="#barmm" role="tab" aria-controls="barmm" aria-selected="false">
                                       BARMM
                                    </a>
                                </li>
                                <li>
                                    <a class="{{ r16 }}" data-toggle="tab" href="#caraga" role="tab" aria-controls="caraga" aria-selected="true">
                                        CARAGA
                                    </a>
                                </li>
                            </ul>
                        </div>