 <!--slider area start-->
    <section class="slider_section">
        <div class="slider_area owl-carousel" style="color: white; opacity: 1;">
            
            <div class="single_slider d-flex align-items-center" data-bgimg="{{ url_for('static', filename='ecommerce/img/slider/1shop-farmer.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider_content">
                                <h1 style="background-color:  rgba(0,0,0,0.5); text-align: center;">Where to buy?</h1>
                                <h2 style="background-color:  rgba(0,0,0,0.5); text-align: center;">Find Places Available!</h2>
                                <br>
                                <center>
                                <a  href="#choose">Find Places</a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single_slider d-flex align-items-center" data-bgimg="{{ url_for('static', filename='ecommerce/img/slider/2shop-vegetables.jpg') }}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider_content">
                                <h1 style="background-color:  rgba(0,0,0,0.5); text-align: center;">Where to buy?</h1>
                                <h2 style="background-color:  rgba(0,0,0,0.5); text-align: center;">Find Places Available!</h2>
                                <br>
                                <center>
                                <a  href="#choose">Find Places</a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--slider area end-->
       